html {
  --color-1: blue;
}

body {
  margin: 0px;
  font-family: sans-serif;
  font-size: 14px;
  overscroll-behavior: none;
  font-family: Helvetica, Arial, sans-serif;
}

::selection {
  background-color: var(--color-1);
  color: white;
}

select,
label {
  font-size: 1em;
}
