html {
  --color-1: rgb(81, 0, 255);
  
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  overscroll-behavior: none;
  font-family: "Courier New", Courier, monospace;
}

::selection {
  background-color: var(--color-1);
  color: white;
}

select,
label {
  font-size: 1em;
  font-family: "Courier New", Courier, monospace;
}
