@font-face {
  font-family: "Pitch Sans";
  src: url("/fonts/Pitch_Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

html {
  --color-1: rgb(254, 216, 0);
  --color-1: rgb(231, 233, 91);
  --font-mono: "Pitch Sans", Courier, monospace;
  overscroll-behavior: none;
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  overscroll-behavior: none;

  font-family: var(--font-mono);
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: black;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-weight: 400;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}

button {
  font-family: var(--font-mono);
}

::selection {
  /* background-color: white; */
  color: var(--color-1);
}

select,
label {
  font-size: 1em;
  font-family: var(--font-mono);
}

strong,
em,
.highlight {
  font-family: var(--font-mono);
}
