html {
  --color-1: rgb(255, 0, 0);
  overscroll-behavior: none;
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  overscroll-behavior: none;
  font-family: Courier, monospace;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: Courier, monospace;
}

::selection {
  background-color: white;
  color: var(--color-1);
}

select,
label {
  font-size: 1em;
  font-family: Courier, monospace;
}

strong,
em,
.highlight {
  font-family: Courier, monospace;
}

/* @font-face {
  font-family: "Compagnon";
  src: url("/fonts/Compagnon-Roman.woff2") format("woff2"),
    url("/fonts/Compagnon-Roman.woff") format("woff");
  font-weight: 400;
  font-style: normal;
} */
